<form class="form" action="" method = "post" role="form">
	<div class="form-group">
		<label for="name">Name:</label>
		<input type ="text" name="name" class="form-control" value="{{category.name}}" required>
	</div>
	<div class="form-group">
		<label for="description">Description:</label>
		<textarea name="description" class="form-control">{{category.description}}</textarea>
	</div>
	<div class="form-group">
		<button type="submit" id="submit" class="btn btn-default">Save</button>
		<a href="{{url_for('showGroceryStore')}}"><input type="button" value="Cancel" class="btn btn-default"></a>
	</div>
</form>
