<form class="form" action="" method = "post" role="form" enctype="multipart/form-data">
	<div class="form-group">
		<label for="name">Name:</label>
		<input id="productname" type ="text" name="name" class="form-control" value="{{product.name}}" required>
	</div>
	<div class="form-group">
		<label for="description">Description:</label>
		<textarea name="description" class="form-control">{{product.description}}</textarea>
	</div>
	<div class="form-group">
		<label for="price">Price:</label>
		<input type ="text" name="price" class="form-control" value="{{product.price}}">
	</div>
	<div class="form-group">
		<label for="category">Category:</label>
		<select class="form-control" id="category" name="category">
			{% for cat in categories %}
			<option value="{{cat.name}}">{{cat.name}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label for="image">Image:</label>
		<img id="product_image" src="{{url_for('uploads', filename=product.image_file_name)}}" class="img-responsive"/>
		<div>Change the product image:</div>
		<input type ="file" name="image" class="form-control" id="image" onchange="loadFile(event)">
	</div>
	<div class="form-group">
		<button type="submit" id="submit" class="btn btn-default">Save</button>
		<a href="{{url_for('showGroceryStore')}}"><input type="button" value="Cancel" class="btn btn-default"></a>
		<input type="hidden" name="state" value="{{state()}}">
	</div>
</form>	
<script type="text/javascript">
   $(document).ready(function() {
   		{% if product %}
   		    $("#category").val("{{product.category_name}}");
   		{% elif category %}
   			$("#category").val("{{category.name}}");
   	    {% else %}
			$("#category option:first-child").attr("selected", "selected");
   	    {% endif %}
	});	

	var loadFile = function(event) {
    	var reader = new FileReader();
    	reader.onload = function() {
     		$("#product_image").attr("src", reader.result);
    	};
    	reader.readAsDataURL(event.target.files[0]);
  	};
</script>
