{% if category %}
	<a href = "{{url_for('newProduct', category_name=category.name)}}" class="add">Add a new product</a>
{% else %}
	<a href = "{{url_for('newProduct')}}" class="add">Add a new product</a>
{% endif %}
<ul class="list-unstyled">
	{% for product in products %}
	<li>
		<a href = "{{url_for('showProduct', category_name=product.category_name, product_name=product.name)}}">{{product.name}}</a>
		<span class="editDelete"><a href = "{{url_for('editProduct', category_name=product.category_name, product_name=product.name)}}"> Edit | </a>
		<a href = "{{url_for('deleteProduct', category_name=product.category_name, product_name=product.name)}}">Delete</a></span>
	</li>
	{% endfor %}
</ul>